<section class="footer-bottom clearfix full-width footer-bg-color" >
    <div class="container-fluid">
        <div class="container">
         <div class="row">
             <div class="col-md-12">
                 
             </div>
         </div>
        </div>        
     </div>
   <div class="container-fluid footer-bg-color1">
       <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copy mt-3 mb-3">
                    © Microkols All rights reserved.
                </div>
            </div>
        </div>
       </div>        
    </div>
</section>